blinker
click
Flask
Flask-Limiter
Flask-Marshmallow
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
marshmallow
marshmallow-sqlalchemy
MarkupSafe
mysql-connector-python
packaging
psycopg2-binary
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
PyJWT